# Machine Learning Approach for Depression Prediction Through Tweets

In [1]:
import numpy as np
import pandas as pd

# load dataset

In [2]:
data = pd.read_csv("sentiment_tweets3.csv")

In [3]:
data.head()

,Index,message to examine,label (depression result)
0,106,just had a real good moment. i missssssssss hi...,0
1,217,is reading manga http://plurk.com/p/mzp1e,0
2,220,@comeagainjen http://twitpic.com/2y2lx - http:...,0
3,288,@lapcat Need to send 'em to my accountant tomo...,0
4,540,ADD ME ON MYSPACE!!! myspace.com/LookThunder,0

In [4]:
# change long column names to short one
data.rename(columns={'message to examine':'Message',
                     'label (depression result)':'Label'}, inplace= True)

In [5]:
data.head()

   Index                                            Message  Label
0    106  just had a real good moment. i missssssssss hi...      0
1    217         is reading manga  http://plurk.com/p/mzp1e      0
2    220  @comeagainjen http://twitpic.com/2y2lx - http:...      0
3    288  @lapcat Need to send 'em to my accountant tomo...      0
4    540      ADD ME ON MYSPACE!!!  myspace.com/LookThunder      0

In [6]:
# basically index a non-informative parameter, so we can drop index column
data.drop(columns=["Index"], axis= 1, inplace= True)

In [7]:
# yes, we didi it, lets check new data
data.head()

                                             Message  Label
0  just had a real good moment. i missssssssss hi...      0
1         is reading manga  http://plurk.com/p/mzp1e      0
2  @comeagainjen http://twitpic.com/2y2lx - http:...      0
3  @lapcat Need to send 'em to my accountant tomo...      0
4      ADD ME ON MYSPACE!!!  myspace.com/LookThunder      0

In [8]:
# lets take a view of data fromall possible ways
data.shape

(10314, 2)

In [9]:
#we have 10314 row and 2 columns

In [10]:
data.describe()

              Label
count  10314.000000
mean       0.224355
std        0.417177
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10314 entries, 0 to 10313
Data columns (total 2 columns):
Message    10314 non-null object
Label      10314 non-null int64
dtypes: int64(1), object(1)
memory usage: 161.2+ KB

In [16]:
data.count()

Message    10314
Label      10314
dtype: int64

In [19]:
data['Label'].value_counts()

0    8000
1    2314
Name: Label, dtype: int64

# Preprocessing

# Now we will be dealing with the text data, so need to understand the 
# natural language processing, first we need to perform data stemming process
# In this process we will replace url,email,mobile, phone no, numbers, punctuations, stopwords, 
# with some unique string to avoid processing overhead
# after that we will convert the all text data into lowercase to redice duplicate and 
# processing overhead
# then we will perform the tokenization process i.e spilliting
# then we will perform stemming to remove stopwords
# later we will join it again

In [20]:
# import all required libraries here
! pip install nltk

DEPRECATION: Python 3.5 reached the end of its life on September 13th, 2020. Please upgrade your Python as Python 3.5 is no longer maintained. pip 21.0 will drop support for Python 3.5 in January 2021. pip 21.0 will remove support for this functionality.
Defaulting to user installation because normal site-packages is not writeable
Collecting nltk
  Downloading nltk-3.6.2-py3-none-any.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 9.0 MB/s eta 0:00:01
Requirement already satisfied: joblib in /home/speed/.local/lib/python3.5/site-packages (from nltk) (0.14.1)
Collecting tqdm
  Downloading tqdm-4.62.3-py2.py3-none-any.whl (76 kB)
     |████████████████████████████████| 76 kB 567 kB/s eta 0:00:01
Collecting regex
  Downloading regex-2021.9.24.tar.gz (703 kB)
     |████████████████████████████████| 703 kB 5.7 MB/s eta 0:00:01
Collecting click
  Downloading click-7.1.2-py2.py3-none-any.whl (82 kB)
     |████████████████████████████████| 82 kB 126 kB/s  eta 0:00:01
Building wheels for collected packages: regex
  Building wheel for regex (setup.py) ... done
  Created wheel for regex: filename=regex-2021.9.24-cp35-cp35m-linux_x86_64.whl size=588557 sha256=9099341fa1075291c064e9e3426d059ba2ca176c1168838cef1bb8101c4ea94e
  Stored in directory: /home/speed/.cache/pip/wheels/4c/bb/ce/00b3461e7e04e60f75a4dad2dc341779c50e08ff81ed1d172a
Successfully built regex
Installing collected packages: tqdm, regex, click, nltk
Successfully installed click-7.1.2 nltk-3.6.2 regex-2021.9.24 tqdm-4.62.3

In [25]:
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
import re
# imported regular expressions
# object stopwords is not callable here to create object
ps = PorterStemmer()

In [27]:
#Create a empty corpus to hold vector value
corpus = []